GOOGLE_SPREADSHEET_ID=1SMMFfqWqWalOys5swqpxk_jIz_l4-kJPU_9V9Ix9OKQ
PROTECTED_MAIN_SHEET_ID=695987561
CHROME_DEBUG_URL=http://127.0.0.1:9222
REPORT_ROOT=Blinkit_Reports
DRIVE_ROOT_FOLDER=Blinkit Reports